.App {
  display: flex;
  flex-direction: column;

  background-color: #282c34;
  min-height: 100vh;
}

.bad{
  color: red;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  
}
.table{
  border:1px solid rgb(107, 90, 90);
  border-radius: 4px;
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table{
  border-collapse:collapse;
  min-width: 50%;
  margin: 10px;
 
}
th{
  height: 50px;
  background-color: #535457;
}
tr:hover {background-color: #635f5f;}

.addStudent{
  text-align: left;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#282c34;;
  color: white;
  
}

.App-link {
  color: #61dafb;
  
}
dialog{
  background-color: rgb(88, 122, 120);
}
.submit{

  border:1px solid rgb(151, 115, 115);
  border-radius: 4px;
  min-width: 320px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
